
:root {
    --text-color:#757575;
    --title-color: #F5F5F5;
    --name-color: #212121;
    --btn-color: #2196F3;
    --sectoin-color: #2F303A;
    --logo-studio-color: #000000;
    --background-btn-color: #F5F4FA;
}           

body {
    background-color: var(--title-color) ;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide-tittle {
    display: none;
}

/* header */

.logo-webstudio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    Line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--btn-color) ;
}

.logo-studio {
    color: var(--logo-studio-color);
}

.logo-studio-footer {
    color: var(--title-color);
}

.head-tittle {
    color: var(--name-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

 .info {
    color: var(--text-color);
    
}

.info:hover  {
    color: var(--btn-color);
}

.info:focus {
    color: var(--btn-color);
}

.studio, .portfolio {
    color: var(--btn-color);
}

.location {
    font-style: normal;
    font-size: 14px;
    font-weight: 1.7;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/* main studio*/

.hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--title-color);
    background-color: var(--sectoin-color);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--title-color);
    background-color: var(--btn-color);
    cursor: pointer;
}

.feature {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--name-color);
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-name {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--name-color);
}

.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    
    color: var(--name-color);
}

.direction {
    font-size: 16px;
    line-height: 1.46px;
    letter-spacing: 0.03em;
}

/* main portfolio */

.project-name {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.project {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--name-color);
    
}

.btn {
    background-color: var(--background-btn-color) ;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--name-color);
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: var(--btn-color);
    color: var(--title-color);
} 



/* footer */

footer {
    background-color: var(--sectoin-color);
}
